<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">

        <input @keyup.enter="addTodo" type="text" v-model="newtodo" placeholder="write a todo ...">
        <button @click="addTodo">Add</button>
        <p v-if="!todolist[0]">There is nothing ...</p>

        <ul>
            <li v-for="(todo,index) in todolist"> {{ todo }}
                <button @click="removetodo(index)">X</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./Todo.js"></script>
</body>

</html>